
.ui-tabs { margin:1.5em 0; }
.ui-tabs-nav, .ui-tabs-navl li { list-style:none; margin:0; padding:0; }
.ui-tabs-nav { }
.ui-tabs-nav li { display:inline; }
.ui-tabs-nav li a { border:1px solid #CCC; border-bottom:0; border-radius:0.25em 0.25em 0 0; display:inline-block; padding:0.6em 1em; text-decoration:none; color:#444; }
.ui-tabs-nav li a span { }
.ui-tabs-nav li a:hover { }
.ui-tabs-nav li.ui-tabs-active { }
.ui-tabs-nav li.ui-tabs-active a { background:#FFF; color:#000; }

.ui-tabs-nav:after { content:""; clear:both; display:table; }
.ui-tabs-panel { background:#FFF; border:1px solid #CCC; padding:0.5em 1em; margin-top:-1px; }
.ui-tabs-panel:after { content:""; clear:both; display:table; }


form.tokens { }
form.tokens p { }
form.tokens p label { display:inline-block; min-width:8em; }

textarea#file_content { width:99%; height:45em; font-size:0.9em; font-family:"Lucida Console", monospace; border-color:#21759B; background:#FFF; }

@media only screen and (min-width: 800px) {
	form.tokens .notes { width:50%; float:right; margin-left:1.5em; padding-left:1em; border-left:1px solid #DDD; }
}

